@page "/fetchdata"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccessTokenProvider AuthenticationService
@inject NavigationManager Navigation

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (claims == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var claim in claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
}

@code {

    private System.Security.Claims.Claim[] claims;

    protected override async Task OnInitializedAsync()
    {

        var httpClient = new HttpClient();
        //httpClient.BaseAddress = new Uri(Navigation.BaseUri);

        var tokenResult = await AuthenticationService.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            httpClient.DefaultRequestHeaders.Add("Authorization", $"Bearer {token.Value}");
            claims = await httpClient.GetJsonAsync<System.Security.Claims.Claim[]>("https://localhost:5000/connect/userinfo");

        }
        else
        {
            Navigation.NavigateTo(tokenResult.RedirectUrl);
        }

    }
}
