@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
    <br />
    <p>Click <a href="https://localhost:5002">here</a> to return to the application.</p>
</header>