@page "/bidlist/{Id:int}"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inherits BidListSingleBase

@if (Model == null)
{
    <p>Loading...</p>
}
else {
    <p>@Model.Account</p>
}